/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reset margins */
* {
    margin: 0;
  }

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make from elements easier to work with */

button,
select {
  font: inherit;
}
/* Word wrapping */
p, h1, h2, h3, h4, h5, h6 
{
    overflow-wrap: break-word;
  }

  /* Font smoothing */
body {
    -webkit-font-smoothing: antialiased;
  }
body{
    background-color: #212121;
    color: beige;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

/* container */

.container{
   
    max-width: 90ch;
    
    display: grid;
    
    grid-template-columns: 1fr 2fr 1fr;
    
    grid-template-rows: 1fr 2fr 28%;
    
    border: 1px slateblue solid;
    
}

#topic{
   
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align:center;
    padding: 0.75rem;
    text-transform: capitalize;
    
}

.img{
    /* background-color: blue; */
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row: 2/4;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 100;
}


.text{
    
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 1.8rem;

}
.user-description{
    
    grid-column: 2/4;
    padding: 0.5rem;
    padding-left: 1.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    text-transform: capitalize;
    border: 1px solid brown;
    
}
#refresh{
    position: absolute;
    margin: 0 auto;
    left: 40%;
    top: 4rem;
    border: 1px solid yellowgreen;
    padding: 0.2rem;
    background-color: yellowgreen;
    border-radius: 20%;

    align-self: self-start;
    order: 1;


}


#refresh:hover{
    border: 1px solid yellowgreen;
    box-shadow: 0 0 10px 1px yellowgreen;
}

