:root {
    --grayish-blue: hsl(217, 19%, 38%);
    --Dark-grayish-blue: hsl(217, 19%, 24%);
    --Dark-blue: hsl(218, 23%, 16%);
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-green: hsl(150, 100%, 66%);
  }

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reset margins */
* {
    margin: 0;
  }

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make from elements easier to work with */

button,
select {
  font: inherit;
}
/* Word wrapping */
p, h1, h2, h3, h4, h5, h6 
{
    overflow-wrap: break-word;
  }

  /* Font smoothing */
body {
    -webkit-font-smoothing: antialiased;
  }
body{
    background-color: #212121;
    color: beige;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    background-color: var(--Dark-blue);
    
}

/* container */

.container{
   
    max-width: 80ch;
    
    display: grid;
    
    grid-template-columns: 1fr 2fr 1fr;
    
    grid-template-rows: 1fr 2fr 28%;
    
    /* border: 1px slateblue solid; */
    background-color: var(--Dark-blue);
    border-radius: 4rem;
    
}

#topic{
   
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align:center;
    padding: 0.75rem;
    text-transform: capitalize;
    /* border: 1px solid burlywood; */
    
}

.img{
    /* background-color: blue; */
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row: 2/3;
    padding: 1.5rem;
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
    /* background-size: cover; Resize the background image to cover the entire container */
    border-radius: 1em;
    /* border: 1px solid red; */
    /* width:max-content */
    /* max-width: 10em; */
    margin-left: 1em;
    
}


.text{
    
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 1.8rem;

}
.user-description{
    
    grid-column: 2/4;
    padding: 0.5rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-transform: capitalize;
    /* border: 1px solid brown; */
    padding-left: 1.6rem;
    
}
#refresh{
    position: absolute;
    margin: 0 auto;
    left: 40%;
    top: 4rem;
    border: 1px solid var(--Neon-green);
    padding: 0.2rem;
    background-color: var(--Neon-green);
    border-radius: 20%;

    align-self: self-start;
    order: 1;


}


#refresh:hover{
    border: 1px solid var(--Neon-green);
    box-shadow: 0 0 10px 1px var(--Neon-green);
}

#topic,
#tag{
    color: var(--Neon-green);
}